<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Jangan redirect jika request sudah menuju folder public/
    RewriteCond %{REQUEST_URI} !^/public

    # Arahkan semua request ke folder public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

# Nonaktifkan directory listing
Options -Indexes

# Security headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
